.container 
    display: flex
    height: 100vh
    align-items: center
    justify-content: center 

.animateForm
    max-width: 100%

.flexForm
    display: flex
    -webkit-box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3)
    -moz-box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3)
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3)
    border-radius: 10px
    width: 100%
    max-width: 500px

    .input
        background-color: #fff
        border: 1px solid #ff0000
        border-radius: 10px 0 0 10px
        border-right: unset
        padding: 15px 10px
        width: 100%
        
    .button
        border-radius: 0 10px 10px 0
        background-color: #fff
        border: 1px solid #ff0000
        border: 1px solid #ff0000
        padding: 15px 10px
        border-left: unset
        color: #ff0000
          
          
          